<% include ./partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create New Activity</h1>
        <form style="width: 30%; margin: 0 auto;" action="/activities" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="title" placeholder="title">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="image" placeholder="image url">
            </div>
            <div class="form-group">
                <input class="form-control" type="date" name="date" placeholder="date">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="time" placeholder="time" pattern="\b((1[0-2]|0?[1-9]):([0-5][0-9]) ([AaPp][Mm]))"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="location" placeholder="location">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="ppl_limit" placeholder="number of people">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="description">
            </div>
            <div class="form-group">
				<button class="btn btn-lg btn-default btn-block">Submit!</button>
			</div>
        </form>
        
        <a href="/activities">Go back</a>
    </div>
</div>


<% include ./partials/footer %>